<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="../../static/Admin/js/angular.min.js"></script>
<body ng-app="myApp" ng-controller="nameCtrl">
    <input type="file" ng-model="file" id="fileInput">
    <button onclick="upload()">Upload</button>
    <button ng-click="uploadFile()">Upload2</button>
</body>
<select name="" id="">
  <option ng-repeat="item in items" ng-value=""></option>
</select>
<script>

const upload = async ()=>{
  const fileInput = document.querySelector('#fileInput');
var formdata = new FormData();
formdata.append("file", fileInput.files[0]); //ảnh 

var requestOptions = {
  method: 'POST',
  body: formdata,
  redirect: 'follow'
};

fetch("http://localhost:8080/admin/api/uploadfile", requestOptions)
  .then(response => console.log(response))
  .catch(error => console.error('error', error));
 }

    // Ví dụ dữ liệu productTypes
    var app = angular.module('myApp', []);

app.controller('nameCtrl', function($scope, $http) {
// Ví dụ dữ liệu productTypes
$scope.productTypes = [
  { id: 1, name: 'Type 1' },
  { id: 2, name: 'Type 2' },
  { id: 3, name: 'Type 3' }
];

});
</script>
</html>