
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Quán lí người dùng</title>
    
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@2.0.0/dist/css/fastbootstrap.min.css" rel="stylesheet" integrity="sha256-EkS1lBVeD1Dv7HGBICgtEPKeIz4ffoKbo5gRiPvD6/8=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/fastbootstrap@2.0.0/dist/js/fastbootstrap.min.js" integrity="sha256-o0tNXN7ia0O9G0qNbrzBkEEiQTv+GeW5EO4LjnfDkZk=" crossorigin="anonymous"></script>
    <!-- Custom fonts for this template -->
    <link th:href="@{/Admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/Admin/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href="@{/Admin/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>

<body id="page-top" ng-app="myApp" ng-controller="accountCtrl" ng-init="loadaccount()">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/trangchu/admin}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item ">
                <a class="nav-link" th:href="@{/trangchu/admin}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Thống kê</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Charts -->
            
            <!-- Divider -->


            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="/trangchu/admin/user">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Quản lí người dùng</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/trangchu/admin/product">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Quản lí sản phẩm</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/trangchu/admin/order">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Quản lí đơn hàng</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
			
			<li class="nav-item"><a class="nav-link"
				href="/trangchu/admin/voucher"> <i class="fas fa-fw fa-table"></i>
					<span>Quản lí Khuyến mãi</span></a></li>
			
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Quản lí người dùng</h1>

                   <div class="mb-3">
                    <div class="card card-primary mx-auto col-8 p-0">
                        <form>
                            <div class="card-body">
                            <div class="form-group">
                                    <label for="exampleInputEmail1">ID</label>
                                    <input ng-model="Account.idAccount" type="input" class="form-control" id="exampleInputEmail1" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Email</label>
                                    <input ng-model="Account.email" type="email" class="form-control" id="exampleInputPassword1"
                                        placeholder="Nhập Email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Mật khẩu</label>
                                    <input ng-model="Account.passwordhashed" type="input" class="form-control" id="exampleInputPassword1"
                                        placeholder="Nhập Mật khẩu">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Họ tên</label>
                                    <input ng-model="Account.fullname" type="input" class="form-control" id="exampleInputPassword1"
                                        placeholder="Nhập họ tên">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Địa chỉ</label>
                                    <input ng-model="Account.address" type="input" class="form-control" id="exampleInputPassword1"
                                        placeholder="Nhập địa chỉ">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Số điện thoại</label>
                                    <input ng-model="Account.phonenumber" type="input" class="form-control" id="exampleInputPassword1"
                                        placeholder="Nhập số điện thoại">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Giới tính</label>
                                    <div class="form-group">
                                        <div class="form-check-inline">
                                            <input ng-model="Account.gender" ng-value="true" class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault1" checked>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Nam
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input ng-model="Account.gender" ng-value="false" class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Nữ
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Vai trò</label>
                                    <div class="form-group">
                                        <div class="form-check-inline">
                                            <input ng-model="Account.role" ng-value="true" class="form-check-input" type="radio" name="Rolead"
                                                id="flexRadioDefault1" checked>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Admin
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input ng-model="Account.role" ng-value="false" class="form-check-input" type="radio" name="Rolead"
                                                id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                User
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer text-center">
                                <button ng-click="updateAccount(); upload()" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                   </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex justify-content-between row">
							<h6 class="col align-self-center m-0 font-weight-bold text-primary">Người dùng</h6>
                            <div class="container col align-self-center fs-5">
								<div class="d-flex ">
									<div class="form-switch form-check ms-2">
										<input ng-model="tablecheck2" ng-change="changetable()" type="checkbox" class="form-check-input" id="site_state">
									</div>
									<label for="site_state" class="form-check-label">Accounts Deleted</label>
								</div>
							</div>
							<div class="col align-self-center form-inline input-group w-25">
								<input ng-model="findadaccount" type="text" class="form-control">
								<div class="fw-bolder text-dark input-group-append"><div class="input-group-text" ng-model="findadaccount">search</div></div>
							</div>
						</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Email</th>
                                            <th>Mật khẩu</th>
                                            <th>Họ tên</th>
                                            <th>Địa chỉ</th>
                                            <th>Số điện thoại</th>
                                            <th>Giới tính</th>
                                            <th>Vai trò</th>
                                            <th colspan="2">Tương tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in listaccount | filter : findadaccount">
                                            <td>{{item.idAccount}}</td>
                                            <td>{{item.email}}</td>
                                            <td>{{item.passwordhashed}}</td>
                                            <td>{{item.fullname}}</td>
                                            <td>{{item.address}}</td>
                                            <td>{{item.phonenumber}}</td>
                                            <td>{{item.gender==true?'Male':'Female'}}</td>
                                            <td>{{item.role==true?'Admin':'User'}}</td>
                                            <td><button ng-click="tablecheck2==true?restoreAccount(item):editaccount(item)" class="btn btn-primary">{{tablecheck2==true?'Restore':'Edit'}}</button></td>
                                            <td><button ng-click="deleteAccount(item)" class="btn btn-danger" ng-disabled="tablecheck2">Delete</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Controller Admin Managent Product -->
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js}"></script>
    <script th:src="@{/Admin/js/admin.js}"></script> 
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/Admin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/Admin/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/Admin/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/Admin/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/Admin/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/Admin/js/demo/datatables-demo.js}"></script>

</body>
</html>