<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Column Chart Example</title>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js}"></script>
</head>
<style>
    .lo{
        height: 100px;
        width: 100px;
        background-color: darkblue;
    }
</style>
<body ng-app="myApp" ng-controller="chartCtrl">
    <div class="lo" >

    </div>
    <div style="width: 80%; height: 200px;">
        <canvas id="myChart"></canvas>
    </div>
    <script th:src="@{/Test/app.js}"></script>
    <link th:href="@{/Admin/css/sb-admin-2.min.css}" rel="stylesheet">
</body>
</html>
